.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 700px;
  height: 450px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px;
}

.images-container img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
  opacity: 1;
  position: absolute;
  animation: shuffle 6s infinite;
  transition: transform 1s ease, opacity 1s ease;
}

@keyframes shuffle {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  33% {
    opacity: 1;
    transform: translateX(-300px);
  }
  66% {
    opacity: 1;
    transform: translateX(300px);
  }
  100% {
    opacity: 0;
    transform: translateY(200px);
  }
}

.images-container img.first {
  animation-delay: 0s;
}

.images-container img.middle {
  animation-delay: 2s;
}

.images-container img.third {
  animation-delay: 4s;
}
