.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  text-align: center;
}

.centered-image {
  max-width: 80%;
  height: auto;
  margin-bottom: 6px;
}

.title {
  font-size: 6.5rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}
