.mission-container {
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}

.mission-container h5 {
  color: yellow;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.mission-container p {
  font-size: 1.35rem;
  line-height: 1.7;
  color: #ffeeee;
  text-align: left;
  margin-bottom: 30px;
  padding: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #383838;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.miss {
  padding-top: 1px;
}
