.roadmap {
  padding: 20px;
  background-color: #121212;
  color: #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 100px auto;
  opacity: 1;
  transform: translateY(120px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}



.bounce {
  animation: bounce 2s ease-out forwards;
}

.slide-in-left {
  animation: slideInLeft 2s ease-out forwards;
}



.scale-up {
  animation: scaleUp 2s ease-out forwards;
}


.roadmap__title {
  color: #4caf50;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}

.roadmap__phase {
  margin-top: 30px;
}

.roadmap__phase h3 {
  color: yellow;
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.roadmap__phase p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #bbb;
  margin: 10px 0 20px;
}

#road {
  padding-top: 1px;
}
